Source: fsmdesigner
Maintainer: Richard Leys <leys.richard@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9) , cmake (>= 3.5.0), libqt4-dev (>=4:4.0.0)

Package: fsmdesigner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HDL FSM Designer 
 FSMDesigner enables graphical design of FSMs generated to verilog
