#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p build
	cd build && rm -f CMakeCache.txt && cmake -G "Unix Makefiles" -DCMAKE_INSTALL_PREFIX=$$(pwd)/../debian/fsmdesigner/usr ..
	cd build && make

override_dh_auto_install:
	echo "Install: $(pwd)"
	cd build && make install
	
#$(MAKE) PREFIX=$$(pwd)/debian/fsmdesigner/usr -C build install
